@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* fonts */
@import '@fontsource/abeezee';

/* this disables the dark mode variant and forces standard or "light" mode */
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--heading-font-family: 'ABeeZee', sans-serif;
	--base-font-family: 'ABeeZee', sans-serif;
	--anchor-font-family: 'inherit';
}

@theme {
	--text-10xl: 10rem;
	--text-10xl--line-height: 1.2;
	--text-11xl: 12rem;
	--text-11xl--line-height: 1.2;
	--text-12xl: 14rem;
	--text-12xl--line-height: 1.2;
}

@layer {
	.slide-flex-col {
		@apply flex h-full w-full flex-col items-center justify-center;
	}
}

.h-base {
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;
	letter-spacing: var(--heading-letter-spacing) /* inherit */;
	&:where(.dark, .dark *) {
		color: var(--heading-font-color-dark) /* inherit */;
	}
}

h1 {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-4xl);
	line-height: var(--text-4xl--line-height);
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-5xl);
		line-height: var(--text-5xl--line-height);
	}
}

h2 {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-3xl);
	line-height: var(--text-3xl--line-height);
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-4xl);
		line-height: var(--text-4xl--line-height);
	}
}

h3 {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-2xl);
	line-height: var(--text-2xl--line-height);
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-3xl);
		line-height: var(--text-3xl--line-height);
	}
}
h4 {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-xl);
	line-height: var(--text-xl--line-height);
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
	}
}
h5 {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-lg);
	line-height: var(--text-lg--line-height);
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
	}
}
h6 {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-base);
	line-height: var(--text-base--line-height);
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);
	}
}
p {
}
a {
}

h1-slide {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-12xl);
	line-height: var(--text-12xl--line-height);
}

h2-slide {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-11xl);
	line-height: var(--text-11xl--line-height);
}
h3-slide {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-10xl);
	line-height: var(--text-10xl--line-height);
}
h4-slide {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-9xl);
	line-height: var(--text-9xl--line-height);
}
h5-slide {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-8xl);
	line-height: var(--text-8xl--line-height);
}
h6-slide {
	/* =============Base Values================ */
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;

	/* =============Text Scaling================ */
	font-size: var(--text-7xl);
	line-height: var(--text-7xl--line-height);
}

p-slide {
	@apply text-4xl;
}
a-slide {
	@apply text-4xl;
}

@layer utilities {
	button {
		@apply select-text;
	}

	button:disabled {
		@apply select-text;
	}
}
